extends layout

block content
  h1= Dashboard
  
  p Welcome to the dashboard page, You are now logged in, Thank you for using my repo.click here if u want to go home,   <a href="/logout">Home</a>.
  
  //- h2 User Information
  //- p FirstName: #{user.firstname}
  //- p LastName:  #{user.lastname}
  //- p Email:      #{user.email}  