extends layout

block content
  //- h1= title
  if error
    p Error: #{error}

   form.form-signin(method="post")
    h2.form-signin-heading Please Register
    input.input-block-level(type="text", name="name", placeholder="Your Name", required="true", pattern='[A-Za-z\\s]*')
    input.input-block-level(type="email", name="email", placeholder="Email address", required="true")
    input.input-block-level(type="password", name="password", placeholder="Password", required="true")
    button.btn.btn-large.btn-primary(type="submit") Sign Up
    br
    p <a href="/login">Already have an account?</a>

 